{{ ansible_managed | comment }}

[Unit]
Description=MinIO
Documentation=https://min.io/docs/minio/linux/index.html
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ minio_bin_dir }}/minio

[Service]
Type=notify
User={{ minio_user }}
Group={{ minio_group }}
WorkingDirectory={{ minio_config_dir }}

EnvironmentFile=-/etc/default/minio
ExecStartPre=/bin/bash -c "if [ -z \"${MINIO_VOLUMES}\" ]; then echo \"Variable MINIO_VOLUMES not set in /etc/default/minio\"; exit 1; fi"
ExecStart={{ minio_bin_dir }}/minio server \
  --address={{ minio_address | quote }} \
{% if minio_console_address is defined %}
  --console-address={{ minio_console_address | quote }} \
{% endif %}
{% if minio_anonymous_logging_enabled | bool %}
  --anonymous \
{% endif %}
{% if not (minio_startup_information_enabled | bool) %}
  --quiet \
{% endif %}
{% if minio_json_logging_enabled | bool %}
  --json \
{% endif %}
  $MINIO_OPTS \
  $MINIO_VOLUMES

{# Let systemd restart this service always #}
Restart=always
{# Specifies the maximum file descriptor number that can be opened by this process #}
LimitNOFILE=1048576
{# Turn-off memory accounting by systemd, which is buggy. #}
MemoryAccounting=no
{# Specifies the maximum number of threads this process can create #}
TasksMax=infinity
{# Disable timeout logic and wait until process is stopped #}
TimeoutSec=infinity
SendSIGKILL=no
ProtectProc=invisible

[Install]
WantedBy=multi-user.target
